pipeline/pip_appendvariable.json
{
	"name": "pip_appendvariable",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "arrayvar1",
					"value": {
						"value": "@variables('arrayvar')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "arrayvar1",
					"value": {
						"value": "@int(5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "arrayvar1",
					"value": {
						"value": "@variables('arrayvar')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"arrayvar": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"arrayvar1": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-09T02:54:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}